<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/user_index.css}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" rel="stylesheet">
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

</head>
<body>
<div th:insert="~{/user_navbar::content}"></div>
<div class="container my-4">
    <h1>Order List</h1>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Total price</th>
            <th>Payment State</th>
            <th>Shipment State</th>
            <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${user_orders}">
            <td th:text="${order.id}"></td>
            <td th:text="${order.orderDate}"></td>
            <td th:text="${order.totalPrice} + ' PLN'"></td>
            <td th:text="${order.paymentState}"></td>
            <td th:text="${order.shipmentState}"></td>
            <td th:text="${order.state}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/user_index.js}"></script>
</body>
</html>
