<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>

    <link th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img th:src="@{/images/signin.jpg}" alt="sign up image"></figure>
                </div>

                <div class="signin-form">
                    <h3 class="form-title">Password recovery</h3>
                    <form method="POST" class="register-form" id="login-form" th:action="@{/forgot-password}">
                        <div class="form-group">
                            <label for="email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" id="email" name="email" placeholder="Email"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Send link"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</body>
</html>
