<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot password</title>

    <!-- Font Icon -->
    <link th:href="@{/fonts/material-icon/css/material-design-iconic-font.min.css}" rel="stylesheet">

    <!-- Main css -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img th:src="@{/images/signin.jpg}" alt="sign up image"></figure>
                </div>

                <div class="signin-form">
                    <h3 class="form-title">Password recovery</h3>
                    <form method="POST" class="register-form" id="login-form" th:action="@{/forgot-password/reset-password}">
                        <div class="form-group">
                            <input type="hidden" name="userId" th:value="${userId}">
                            <label for="password"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="password" id="password" name="password" placeholder="new password"/>
                        </div>
                        <div class="form-group">
                            <label for="re-password"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="password" id="re-password" placeholder="re-type password"/>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Reset password"/>
                        </div>
                        <div id="error-message" style="color: red; display: none;">Passwords do not match. Please try again.</div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>
<!-- JS -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script>
    document.getElementById('login-form').addEventListener('submit', function(event) {
        const password = document.getElementById('password').value;
        const rePassword = document.getElementById('re-password').value;

        if (password !== rePassword) {
            event.preventDefault();
            const errorMessage = document.getElementById('error-message');
            errorMessage.style.display = 'block';
        }
    });
</script>
</body>
</html>
