<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="content">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">MYUN Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <div class="navbar-nav">
                </div>
                <div class="navbar-nav">
                    <a th:href="@{/cart/list}">
                        <button type="button" class="btn btn-primary position-relative me-3">
                            <i class="bi bi-cart4" style="font-size:24px"></i>
                            <span th:text="${cartSize}"
                                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </a>
                    <div class="dropdown">
                        <span th:if="${#authentication.name == 'anonymousUser'}">
                            <a class="btn btn-outline-light" th:href="@{/login}">Login</a>
                        </span>
                        <span th:if="${#authentication.name != 'anonymousUser'}">
                            <button class="btn btn-outline-light dropdown-toggle" type="button" id="profileMenu"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileMenu">
                                <li><a class="dropdown-item" th:href="@{/user/order/list}">My orders</a></li>
                                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</th:block>
</html>
