<!DOCTYPE html>
<html lang="en">
<th:block th:fragment="content">

    <link rel="stylesheet" th:href="styles.css">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/index}">MYUN Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                <div class="navbar-nav">
                    <!-- Другие элементы меню -->
                </div>
                <button type="button" class="btn btn-primary position-relative">
                    <i class="bi bi-cart4" style="font-size:24px" value="5"></i>
                    <span th:text="${cartSize}" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>
        </div>
    </nav>

</th:block>
</html>
